<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Nikhil Chavan. It uses data from Mapbox.com and WeatherStack.com </p>
        <img class="portrait" src="/img/photo_copy.jpg">
    </div>
    
    {{>footer}}
</body>

</html>